{% if products %}
    <div class="catalog-flex">
        {% for product in products %}
            <div class="catalog-block">
                <a href="{{ product_path(product) }}" class="image"><img class="lazyload" data-src="{{ asset(product.image.path) }}" src="" alt="{{ product.name }}"></a>
                <div class="name"><a href="">{{ product.name }}</a></div>
                {% if product.discount %}
                    <div class="price">
                        <span class="old-price">{{ product.price}} грн</span>
                        <span>{{ product.discount}} грн</span>
                    </div>
                {% else %}
                    <div class="price"><span>{{ product.price}} грн</span></div>
                {% endif %}
                <a href="{{ product_path(product) }}" class="button">Купить</a>
            </div>
        {% endfor %}
    </div>
{% endif %}



<div class="more-catalog">
    <a href="" class="more-catalog-link"> <!-- loading - класс для вращения стрелки -->
        <i><img src="images/rotate.svg" alt="" /></i>
        <span>Загрузить еще 16 товаров</span>
    </a>
</div>

{#<!--Пагинация-->#}
{#<ul class="pagination">#}
{#    <li><a href=""><i class="arrow prev"></i></a></li>#}
{#    <li><a href="">1</a></li>#}
{#    <li class="active"><a href="">2</a></li>#}
{#    <li><a href="">3</a></li>#}
{#    <li class="next"><a href=""><i class="arrow next"></i></a></li>#}
{#</ul>#}
{#<!--//Пагинация-->#}

{% if settings.show_paginator and products.maxPerPage is defined and products.count > products.maxPerPage %}
    {{ pagerfanta(products, { 'omitFirstPage': true}) }}
{% endif %}