{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <header>
        {{
            sonata_block_render(
                {
                    'type': 'app.block.service.header'
                }
            )
        }}
    </header>

    {% if page is defined %}
        {% if page.name != 'global' %}
            {{ sonata_page_render_container('header', 'global') }}
        {% endif %}
        {{ sonata_page_render_container('header', page) }}
    {% endif %}
{% endblock %}

{% block content %}

    {{ block('main_screen') }}

    <div class="main-content">
        {{ parent() }}
    </div>

{% endblock %}

{% block main_screen %}

{% endblock %}

{% block content_main %}
    {% if content is defined and content|length > 0 %}
        {{ content|raw }}
    {% endif %}

    {% if page is defined %}
        {% if page.name != 'global' %}
            {{ sonata_page_render_container('content_main', 'global') }}
        {% endif %}
        {{ sonata_page_render_container('content_main', page) }}
    {% endif %}
{% endblock %}

{% block content_bottom %}
    {% if page is defined %}
        {% if page.name != 'global' %}
            {{ sonata_page_render_container('content_bottom', 'global') }}
        {% endif %}
        {{ sonata_page_render_container('content_bottom', page) }}
    {% endif %}
{% endblock %}

{% block footer %}
    <!--footer-->
    <footer>
        {% if page is defined %}
            {% if page.name != 'global' %}
                {{ sonata_page_render_container('footer', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('footer', page) }}
        {% endif %}

        {{
            sonata_block_render(
                { 'type': 'app.block.service.footer' }
            )
        }}
    </footer>
    <!--//footer-->
{% endblock %}
