{% extends 'AppBundle:layout:default.html.twig' %}

{% block header %}
    <header>
        {{
        sonata_block_render(
            { 'type': 'app.block.service.header' },
            {
                'class' : 'index-header',
            }
        )
        }}
    </header>
{% endblock %}

{% block main_screen %}
    <section class="main-video-section">

        {{
            sonata_block_render(
                { 'type': 'main.block.image' }
            )
        }}

        <a href="https://www.instagram.com/naturalstones.jewerly/" target="_blank" class="video-instagram">
            <img src="{{ asset('bundles/app/images/instagram.svg') }}" alt="Naturalstones Jewerly">
        </a>

        <div class="header-cart video-header-cart">
            {{
                sonata_block_render(
                    { 'type': 'app.block.service.cart' },
                    { 'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART_QUANTITY') }
                )
            }}

            <div class="header-cart-info">
                {{
                    sonata_block_render(
                        { 'type': 'app.block.service.cart' },
                        { 'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART') }
                    )
                }}
            </div>
        </div>

        <div class="video-menu-toggle">
            <div class="buter">
                <span></span>
                <span></span>
                <span></span>
            </div>
            Меню
        </div>

        {{
            sonata_block_render(
                { 'type': 'app.block.service.menu' },
                {
                    'type': 'video'
                }
            )
        }}

        <div class="video-slide-down">
            <img src="{{ asset('bundles/app/images/slide-down.svg') }}" alt="">
            Все украшения
        </div>

        <div class="video-options">

        </div>

    </section>
{% endblock %}

{% block content_main %}

    <!-- catalog-section -->
    <section class="section">
        <div class="container">

            {{
                sonata_block_render(
                    { 'type': 'product.block.list' },
                    {
                        'items_count' : 8,
                        'title' : 'Новые товары',
                        'page': app.request.get('page') ? app.request.get('page') : 1,
                        'show_paginator': false,
                        'ajax_paginator': false
                    }
                )
            }}

        </div>
    </section>

    <section class="section">
        <div class="container">
            {{
                sonata_block_render(
                    { 'type': 'share.block.stones' },
                    {
                        'items_count' : 9,
                        'view_all' : true,
                        'is_main' : true,
                        'title' : 'Выбирайте камни на любой вкус',
                    }
                )
            }}
        </div>
    </section>

    <section class="section">
        <div class="container">
            {{
                sonata_block_render(
                    { 'type': 'share.block.zodiac' },
                    {
                        'title' : 'Камни по знаку зодиака',
                    }
                )
            }}
        </div>
    </section>

    <section class="section">
        <div class="container">
            {{
                sonata_block_render(
                    { 'type': 'app.block.service.feedback' }
                )
            }}
        </div>
    </section>

    <section class="section">
        <div class="container">

            {{
                sonata_block_render(
                    { 'type': 'product.block.popular' },
                    {
                        'title' : 'Самые популярные за месяц',
                        'by_month' : true,
                        'items_count': 10,
                    }
                )
            }}

            <div class="seo-content">
                {{
                    sonata_block_render(
                        { 'type': 'page.block.site_variable' },
                        {
                            'placement': 'homepage-bottom'
                        }
                    )
                }}
{#                <h4>Изготовление и доставка украшений по миру от Naturalstones Jewerly</h4>#}
{#                <p>Когда хочется дарить яркие эмоции и незабываемые впечатления своим родным и близким выбирайте прекрасные изделия от компании «Naturalstones Jewerly». В оговоренные сроки, с огромным трепетом и удовольствием мы сделаем и доставим вам изделие в любой город и населенный пункт мира. <br>Мы всегда идем навстречу каждому клиенту, поэтому:</p>#}
{#                <ul>#}
{#                    <li>предлагаем большой выбор изделий с камней;</li>#}
{#                    <li>организовали лояльную ценовую политику – вы можете выбрать красивое украшение на свой бюджет;</li>#}
{#                    <li>принимаем оплату как переводом на карту так и наложенным платежом;</li>#}
{#                    <li>предоставляем скидки постоянным клиентам и еженедельные акции;</li>#}
{#                    <li>всегда предлагаем исключительно качественные продукцию;</li>#}
{#                    <li>даем исчерпывающие ответы на все ваши вопросы по ассортименту компании.</li>#}
{#                </ul>#}
{#                <h4>Заказать изготовление изделия и нечто большее</h4>#}
{#                <p>К Вашим услугам доступна доставка букетов с сюрпризом. Убедитесь, что получатель будет по назначенному адресу и в указанное время доставки на месте, сделайте заказ и ожидайте звонка от восхищенного получателя! К букету возможно приложить поздравительную открытку с теплыми словами.</p>#}
{#                <p>В «<a href="">Bali Flowers</a>» можно заказать доставку цветов в комплекте со сладостями либо фруктами, или по Вашему желанию курьер приобретет мягкую игрушку, шарики. Так Ваш подарок станет более впечатляющим и запоминающимся. <br>Если нужно что-то необычное и стандартные букеты не подходят для Вашего случая, тогда обратите внимание на разделы: «Дизайнерские букеты», «Букеты 101+», «Корзины с цветами» и «Цветы в коробке». Из нашего ассортимента Вы обязательно найдете «именно тот самый» идеальный букет.</p>#}
{#                <h5>Вы любите делать неожиданные подарки, а мы – их создавать!</h5>#}
            </div>
        </div>
    </section>

    {{
        sonata_block_render(
            { 'type': 'product.block.viewed' },
            {
                'class': 'section-grey',
                'items_count': 7,
            }
        )
    }}
    <!--//main-content-->

{% endblock %}

