{% extends 'AppBundle:layout:default.html.twig' %}

{% block header %}
    <header>
        {{
        sonata_block_render(
            { 'type': 'app.block.service.header' },
            {
                'class' : 'index-header',
            }
        )
        }}
    </header>
{% endblock %}

{% block main_screen %}
    <section class="main-video-section">

        {{
            sonata_block_render(
                { 'type': 'main.block.image' }
            )
        }}

        <a href="" class="video-instagram"><img src="{{ asset('bundles/app/images/instagram.svg') }}" alt=""></a>

        <div class="header-cart video-header-cart">
            {{
                sonata_block_render(
                    { 'type': 'app.block.service.cart' },
                    { 'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART_QUANTITY') }
                )
            }}

            <div class="header-cart-info">
                {{
                    sonata_block_render(
                        { 'type': 'app.block.service.cart' },
                        { 'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART') }
                    )
                }}
            </div>
        </div>

        <div class="video-menu-toggle">
            <div class="buter">
                <span></span>
                <span></span>
                <span></span>
            </div>
            Меню
        </div>

        {{
            sonata_block_render(
                { 'type': 'app.block.service.menu' },
                {
                    'type': 'video'
                }
            )
        }}

        <div class="video-slide-down">
            <img src="{{ asset('bundles/app/images/slide-down.svg') }}" alt="">
            Все украшения
        </div>

        <div class="video-options">

        </div>

    </section>
{% endblock %}

{% block content_main %}

    <!-- catalog-section -->
    <section class="simple-section">
        <div class="container">

            <div class="filter-outer">
                <h1>Новые товары</h1>
            </div>

            {{
                sonata_block_render(
                    { 'type': 'product.block.list' },
                    {
                        'items_count' : 20,
                        'page': app.request.get('page') ? app.request.get('page') : 1,
                        'show_paginator': false,
                        'ajax_paginator': true
                    }
                )
            }}

            {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'homepage-bottom'
                    }
                )
            }}

        </div>
    </section>

    <section class="section">
        <div class="container">
            {{
                sonata_block_render(
                    { 'type': 'share.block.stones' },
                    {
                        'items_count' : 9,
                        'view_all' : true,
                        'title' : 'Выбирайте камни на любой вкус',
                    }
                )
            }}
        </div>
    </section>

    <section class="section">
        <div class="container">
            {{
            sonata_block_render(
                { 'type': 'share.block.zodiac' },
                {
                    'title' : 'Камни по знаку зодиака',
                }
            )
            }}
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="form-content">
                <h4>Не нашли то, что искали?</h4>
            </div>
            <form class="form-area " id="myForm" action="" method="post">
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <input name="name" placeholder="Ваше имя" class="common-input mb-20 form-control" required="" type="text">

                        <input name="email" placeholder="Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" class="common-input mb-20 form-control" required="" type="email">

                        <input name="phone" placeholder="Номер телефона" class="common-input mb-20 form-control" required="" type="text">
                    </div>
                    <div class="col-lg-6 form-group">
                        <textarea class="common-textarea mt-10 form-control" name="message" placeholder="Сообщение" required=""></textarea>
                        <button class="mt-20 button">Отправить сообщение</button>
                        <div class="alert-msg">
                        </div>
                    </div></div>
            </form>

        </div>
    </section>

    <section class="section">
        <div class="container">

            {{
            sonata_block_render(
                { 'type': 'product.block.list' },
                {
                    'title' : 'Самые популярные за месяц',
                    'items_count' : 10,
                    'page': app.request.get('page') ? app.request.get('page') : 1,
                    'list_type': constant('ProductBundle\\Block\\ListProductBlockService::SIMILAR_LIST')
                }
            )
            }}

            <div class="seo-content">
                <h4>Доставка цветов по миру от Bali Flowers</h4>
                <p>Когда хочется дарить яркие эмоции и незабываемые впечатления своим родным и близким выбирайте доставку цветов от цветочной компании «Roses». В оговоренные сроки, с огромным трепетом и удовольствием наши курьеры доставят ваш букет в любой город и населенный пункт мира. <br>Мы всегда идем навстречу каждому клиенту, поэтому:</p>
                <ul>
                    <li>предлагаем большой выбор цветочных композиций, как классических, так и дизайнерских;</li>
                    <li>организовали лояльную ценовую политику – вы можете выбрать красивый букет на свой бюджет;</li>
                    <li>принимаем оплату в любой валюте и любым способом;</li>
                    <li>предоставляем скидки постоянным клиентам и ежедневные акции на букеты;</li>
                    <li>всегда предлагаем исключительно качественные композиции из свежих цветов;</li>
                    <li>даем исчерпывающие ответы на все ваши вопросы по доставке цветов по миру и ассортименту компании.</li>
                </ul>
                <h4>Заказать доставку цветов и нечто большее</h4>
                <p>К Вашим услугам доступна доставка букетов с сюрпризом. Убедитесь, что получатель будет по назначенному адресу и в указанное время доставки на месте, сделайте заказ и ожидайте звонка от восхищенного получателя! К букету возможно приложить поздравительную открытку с теплыми словами.</p>
                <p>В «<a href="">Bali Flowers</a>» можно заказать доставку цветов в комплекте со сладостями либо фруктами, или по Вашему желанию курьер приобретет мягкую игрушку, шарики. Так Ваш подарок станет более впечатляющим и запоминающимся. <br>Если нужно что-то необычное и стандартные букеты не подходят для Вашего случая, тогда обратите внимание на разделы: «Дизайнерские букеты», «Букеты 101+», «Корзины с цветами» и «Цветы в коробке». Из нашего ассортимента Вы обязательно найдете «именно тот самый» идеальный букет.</p>
                <h5>Вы любите делать неожиданные подарки, а мы – их доставлять!</h5>
            </div>
        </div>
    </section>
    <!--//main-content-->

{% endblock %}

