{% extends 'AppBundle:layout:default.html.twig' %}

{% block header %}
    <header>
        {{
        sonata_block_render(
            { 'type': 'app.block.service.header' },
            {
                'class' : 'index-header',
            }
        )
        }}
    </header>
{% endblock %}

{% block main_screen %}
    <section class="main-video-section">

        {{
            sonata_block_render(
                { 'type': 'main.block.image' }
            )
        }}

        <a href="https://www.youtube.com/channel/UCEwGrDpdrW8dArZmdBC-6rw" target="_blank" class="video-icon video-youtube">
            <img src="{{ asset('bundles/app/images/youtube.svg') }}" alt="Naturalstones Jewerly">
        </a>

        <a href="https://www.facebook.com/naturalstones.jewerly.ua" target="_blank" class="video-icon video-facebook">
            <img src="{{ asset('bundles/app/images/facebook.png') }}" alt="Naturalstones Jewerly">
        </a>

        <a href="https://www.instagram.com/naturalstones.jewerly/" target="_blank" class="video-icon video-instagram">
            <img src="{{ asset('bundles/app/images/instagram.svg') }}" alt="Naturalstones Jewerly">
        </a>

        <div class="header-cart video-header-cart">
            {{
                sonata_block_render(
                    { 'type': 'app.block.service.cart' },
                    { 'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART_QUANTITY') }
                )
            }}

            <div class="header-cart-info">
                {{
                    sonata_block_render(
                        { 'type': 'app.block.service.cart' },
                        { 'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART') }
                    )
                }}
            </div>
        </div>

        <div class="video-menu-toggle">
            <div class="buter">
                <span></span>
                <span></span>
                <span></span>
            </div>
            Меню
        </div>

        {{
            sonata_block_render(
                { 'type': 'app.block.service.menu' },
                {
                    'type': 'video'
                }
            )
        }}

        <div class="video-slide-down">
            <img src="{{ asset('bundles/app/images/slide-down.svg') }}" alt="">
            {{ 'frontend.homepage.all_decorations'|trans([], 'AppBundle') }}
        </div>

        {{ sonata_block_render({ 'type': 'app.block.service.language_switcher' }) }}

    </section>
{% endblock %}

{% block content_main %}

    <!-- catalog-section -->
    <section class="section">
        <div class="container">

            {% if page is defined %}
                {% if page.name != 'global' %}
                    {{ sonata_page_render_container('content', 'global') }}
                {% endif %}
                {{ sonata_page_render_container('content', page) }}
            {% endif %}

        </div>
    </section>

    <section class="section">
        <div class="container">
            {{
                sonata_block_render(
                    { 'type': 'share.block.stones' },
                    {
                        'items_count' : 18,
                        'view_all' : true,
                        'is_main' : true,
                        'title' : 'frontend.homepage.all_stones'|trans([], 'AppBundle') ,
                    }
                )
            }}
        </div>
    </section>

    <section class="section">
        <div class="container">
            {{
                sonata_block_render(
                    { 'type': 'share.block.zodiac' },
                    {
                        'title' : 'frontend.homepage.stones_for_zodiac'|trans([], 'AppBundle'),
                    }
                )
            }}
        </div>
    </section>

    <section class="section" id="feedback">
        <div class="container">
            {{
                sonata_block_render(
                    { 'type': 'app.block.service.feedback' }
                )
            }}
        </div>
    </section>

    <section class="section">
        <div class="container">

            {{
                sonata_block_render(
                    { 'type': 'product.block.popular' },
                    {
                        'title' : 'frontend.homepage.popular_mounth'|trans([], 'AppBundle'),
                        'by_month' : true,
                        'items_count': 10,
                    }
                )
            }}

            <div class="seo-content">
{#                {{#}
{#                    sonata_block_render(#}
{#                        { 'type': 'page.block.site_variable' },#}
{#                        {#}
{#                            'placement': 'homepage-bottom'#}
{#                        }#}
{#                    )#}
{#                }}#}
                <h4>{{ 'frontend.homepage.about_title'|trans([], 'AppBundle') }}</h4>
                <p>{{ 'frontend.homepage.description'|trans([], 'AppBundle')|raw }}</p>
                <ul>
                    <li>{{ 'frontend.homepage.services_1'|trans([], 'AppBundle') }}</li>
                    <li>{{ 'frontend.homepage.services_2'|trans([], 'AppBundle') }}</li>
                    <li>{{ 'frontend.homepage.services_3'|trans([], 'AppBundle') }}</li>
                    <li>{{ 'frontend.homepage.services_4'|trans([], 'AppBundle') }}</li>
                    <li>{{ 'frontend.homepage.services_5'|trans([], 'AppBundle') }}</li>
                    <li>{{ 'frontend.homepage.services_6'|trans([], 'AppBundle') }}</li>
                </ul>
                <h5>{{ 'frontend.homepage.bottom'|trans([], 'AppBundle') }}</h5>
            </div>
        </div>
    </section>
    <!--//main-content-->

{% endblock %}

