{% extends 'AppBundle:layout:default.html.twig' %}

{% block content_main %}

    <div class="cols">
        {{ block('content_side') }}
        {{ block('content_right') }}
    </div>

{% endblock %}

 {% block breadchumbs %}{% endblock %}

{% block content_side %}
    {{ parent() }}
{% endblock %}

{% block content_right %}
    <div class="col-cont">
        <div class="section">
            <div class="section-title clearfix">
                <h2>Новые книги</h2>
            </div>

            <div class="movies clearfix grid grid-list">

                {{
                sonata_block_render(
                    { 'type': 'book.block.list' },
                    {
                        'items_count' : 10,
                        'page': app.request.get('page') ? app.request.get('page') : 1,
                    }
                )
                }}
            </div>
        </div>

        {{
        sonata_block_render(
            { 'type': 'page.block.site_variable' },
            {
                'placement': 'homepage-bottom'
            }
        )
        }}

        {#<section class="site-desc">#}
            {##}
            {#<h1>Скачать книги бесплатно</h1>#}
            {#<p>#}
                {#Довольно часто в сети можно встретить такой поисковый запрос: <b>скачать книги бесплатно, или же#}
                    {#читать книги бесплатно</b>. И это не может не радовать – все же есть еще люди, которые любят#}
                {#читать, а некоторые и вовсе стараются максимально повысить свой уровень образования при помощи#}
                {#печатных изданий. Но далеко не на каждом портале можно скачать книги бесплатно и быстро.#}
                {#На других сайтах чтение в режиме онлайн не всегда доступно для пользователей – то навязчивая#}
                {#реклама мешает в полной мере насладиться книгой, то еще что-то. В общем, проблем много, а#}
                {#порталов, работающих действительно честно – мало.#}
                {#На нашем сайте Вы можете не только скачивать книги в fb2, epub, pdf и txt форматах без#}
                {#регистрации, но и быть уверенным в качестве этих книг. Каждая книга перед добавлением на сайт#}
                {#проверяется на качество файла. Так же у нас не нужно вводить ни номер телефона, ни капчу, ни#}
                {#другие персональные данные.#}
            {#</p>#}

        {#</section>#}
    </div>
{% endblock %}

