{% if informations|length %}
    <div id="informationModal" data-id="{{ ids }}" class="popup-modal mfp-hide mfp-with-anim">
        <div class="popup-content">
            <div class="popup-top no-border">
                {% for information in informations %}
                    <div class="modal-cart-block">
                        <div class="cart-desc">
                            <div class="image no-bg"><img src="{{ asset('bundles/app/images/info-big.svg') }}" alt=""></div>
                            <div class="inner">
                                <h5 class="information-title">
                                    <span class="desctop-text">{{ information.getTitle() }}</span>
                                    <span class="mobile-text">{{ information.getTitle() }}</span>
                                </h5>
                                <div class="desc information-desc">{{ information.getDescription()|raw }}</div>
                            </div>
                        </div>
                        {% if information.getUrl() %}
                            <div class="cart-links">
                                <a href="{{ information.getUrl() }}" target="_blank" class="button">
                                    <span class="desctop-text">{{ 'frontend.modal.btn_information'|trans([], 'AppBundle') }}</span>
                                    <span class="mobile-text">{{ 'frontend.modal.btn_information'|trans([], 'AppBundle') }}</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <button class="mfp-close" type="button"><img src="{{ asset('bundles/app/images/cross.svg') }}" alt=""></button>
        </div>
    </div>

    <div class="callback-bt" id="btnInfo">
        <div class="text-call">
            <img src="{{ asset('bundles/app/images/bell.png') }}" alt="Naturalstones" style="width: 30px; margin-top: 10px">
        </div>
    </div>
{% endif %}