{% extends '@SonataAdmin/Form/form_admin_fields.html.twig' %}

{#{% block sonata_admin_articles_content_text_widget %}#}
    {#{{ block('hidden_widget') }}#}
    {#{% set articleObject = sonata_admin.admin.subject %}#}

    {#<div style="font-size:50px;">#}
        {#{% if articleObject.isVideoContent %}#}
            {#<i class="fa fa-file-video-o" aria-hidden="true"></i>&nbsp;#}
        {#{% endif %}#}
        {#{% if articleObject.isImageContent %}#}
            {#<i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;#}
        {#{% endif %}#}
        {#{% if articleObject.isGalleryContent %}#}
            {#<i class="fa fa-window-restore" aria-hidden="true"></i>&nbsp;#}
        {#{% endif %}#}
        {#<i class="fa fa-file-text-o" aria-hidden="true"></i>#}
    {#</div>#}

    {#{% if articleObject.id %}#}
        {#{% set revisions = sonata_admin.admin.getArticleRevisions(articleObject)|length %}#}
        {#{% if revisions %}#}
            {#<div>#}
                {#<hr/>#}
                {#<a href="{{ sonata_admin.admin.generateUrl('history', {id: articleObject.id}) }}" class="btn btn-default btn-lg" style="width: 100%" target="_blank">#}
                    {#{{ 'article.buttons.history'|trans({}, 'ArticleBundle') }}: {{ revisions }}#}
                {#</a>#}
            {#</div>#}
        {#{% endif %}#}
    {#{% endif %}#}
{#{% endblock %}#}

{#{% block category_multiple_choice_widget %}#}
    {#{% import _self as tree %}#}
    {#{% spaceless %}#}
        {#<div style="max-height: 600px; overflow-y: scroll;">#}
            {#{% set childrens = choices %}#}
            {#{% for group_label, choice in childrens %}#}
                {#{% if choice.parent is empty %}#}
                    {#{% set block_color = choice.color ? '#'~choice.color : 'none' %}#}
                    {#{% set display = choice.isHidden ? 'display: none;' : '' %}#}
                    {#<div class="row"#}
                         {#style="margin: 5px 10px 10px 0;border: 1px solid #c5c5c5;border-radius: 3px;{{ display }}">#}
                        {#<div class="col-md-12"#}
                             {#style="background: {{ block_color }};{% if not choice.hasChildren() %}padding-bottom: 4px;{% endif %}"#}
                        {#>#}
                            {#{{ tree.drawInput(form.children, choice, form) }}#}
                        {#</div>#}
                        {#{% if choice.hasChildren() %}#}
                            {#<div class="col-md-12"#}
                                 {#style="background: {{ block_color }}; padding-right:0; padding-bottom: 4px;"#}
                            {#>#}
                                {#{% set childrens = choice.children %}#}
                                {#{{ tree.drawChilds(childrens, form, block_color) }}#}
                            {#</div>#}
                        {#{% endif %}#}
                    {#</div>#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock %}#}

{#{% macro drawChilds(childrens, form, color) %}#}
    {#{% import _self as self %}#}
    {#{% for group_label, choice in childrens %}#}
        {#{% set block_color = choice.color ? '#'~choice.color : color %}#}
        {#{% set display = choice.isHidden ? 'display: none;' : '' %}#}

        {#{% if not choice.hasChildren() %}#}
            {#<div class="col-md-{{ choice.hasChildren() ? 12 : 3 }}" style="background: {{ block_color }};{{ display }}">#}
                {#{{ self.drawInput(form.children, choice, form) }}#}
            {#</div>#}
        {#{% endif %}#}
    {#{% endfor %}#}

    {#{% for group_label, choice in childrens %}#}
        {#{% set block_color = choice.color ? '#'~choice.color : color %}#}
        {#{% set display = choice.isHidden ? 'display: none;' : '' %}#}

        {#{% if choice.hasChildren() %}#}
            {#<div class="col-md-{{ choice.hasChildren() ? 12 : 3 }}" style="background: {{ block_color }};{{ display }}">#}
                {#{{ self.drawInput(form.children, choice, form) }}#}
            {#</div>#}

            {#<div class="col-md-12" style="background: {{ block_color }}; padding-right: 0;{{ display }}">#}
                {#{{ self.drawChilds(choice.children, form, block_color) }}#}
            {#</div>#}
        {#{% endif %}#}
    {#{% endfor %}#}
{#{% endmacro %}#}

{#{% macro drawInput(fields, choice, form) %}#}
    {#{% for field in fields %}#}
        {#{% set attributes = field[choice.id].vars %}#}
        {#{% set choice_parent = form.vars.options.choice_parent or not choice.hasChildren() %}#}
        {#{% set display = choice.isHidden ? 'display: none;' : '' %}#}

        {#{% if loop.last %}#}
            {#<label style="{{ display }}">#}
        {#{% endif %}#}

        {#{% if choice_parent %}#}
            {#{% set type = field.vars.expanded and not field.vars.multiple ? 'radio' : 'checkbox' %}#}
            {#<span style="margin-right: 7px;{{ display }}">#}
                {#{{ form_widget(field[choice.id]) }}#}
            {#</span>#}
        {#{% endif %}#}

        {#{% if loop.last %}#}
                {#<span class="control-label__text">#}
                    {#{{ (not choice_parent and choice.parent ? '-' : '')~attributes.label }}#}
                {#</span>#}
            {#</label>#}
        {#{% endif %}#}
    {#{% endfor %}#}
{#{% endmacro %}#}

{#{% block checkbox_widget -%}#}
    {#{% if form.vars.form.parent.parent.vars.baseWidget is defined %}#}
        {#<input type="checkbox" {{ block('widget_attributes') }}#}
                {#{% if value is defined %} value="{{ value }}"{% endif %}#}
                {#{% if checked %} checked="checked"{% endif %} />#}
    {#{% else %}#}
        {#{{ parent() }}#}
    {#{% endif %}#}
{#{%- endblock checkbox_widget %}#}

{#{% block radio_widget -%}#}
    {#{% if form.vars.form.parent.parent.vars.baseWidget is defined %}#}
        {#<input type="radio" {{ block('widget_attributes') }}#}
                {#{% if value is defined %} value="{{ value }}"{% endif %}#}
                {#{% if checked %} checked="checked"{% endif %} />#}
    {#{% else %}#}
        {#{{ parent() }}#}
    {#{% endif %}#}
{#{%- endblock radio_widget %}#}

{#{% block sonata_admin_book_rating_text_widget %}#}
{#    <div class="btn-group">#}
{#        <div class="btn btn-success">+{{ sonata_admin.admin.subject.ratePlus }}</div>#}
{#        <div class="btn btn-danger">{{ sonata_admin.admin.subject.rateMinus ? '-'~sonata_admin.admin.subject.rateMinus : sonata_admin.admin.subject.rateMinus }}</div>#}
{#        <div class="btn btn-default">=</div>#}
{#        {% set resultRating = sonata_admin.admin.subject.ratePlus - sonata_admin.admin.subject.rateMinus %}#}
{#        <div class="btn btn-{{ resultRating > -1 ? 'success' : 'danger' }}">{{ resultRating }}</div>#}
{#        <div class="hidden">{{ form_widget(form) }}</div>#}
{#    </div>#}
{#{% endblock %}#}

{#{% block sonata_admin_book_tags_sonata_type_model_autocomplete_widget %}#}
{#    {% include '@SonataAdmin/Form/Type/sonata_type_model_autocomplete.html.twig' %}#}

{#    <a href="#" onclick="return start_field_search_{{ id }}(this);" class="btn btn-primary btn-sm sonata-ba-action pull-right" title="" id="btn_search_tags_{{ id }}">#}
{#        <i class="fa fa-refresh"></i>#}
{#        {{ 'btn_search_tags'|trans({}, btn_catalogue) }}#}
{#    </a>#}
{#    <script>#}
{#        jQuery('#btn_search_tags_{{ id }}').appendTo('#field_actions_{{ id }}');#}
{#    </script>#}

{#    <div id="field_search_tags_{{ id }}" style="max-height: 300px;overflow: auto;margin-top:10px;"></div>#}

{#    {% include 'BookBundle:CRUD/Association:edit_tags_script.html.twig' %}#}
{#{% endblock %}#}

{#{% block sonata_admin_book_bookHasRelated_sonata_type_collection_widget %}#}
{#    #}{#{% include '@SonataAdmin/CRUD//Association/edit_one_to_many.html.twig' %}#}

{#    {% if not sonata_admin.field_description.hasassociationadmin %}#}
{#        {% for element in value %}#}
{#            {{ element|render_relation_element(sonata_admin.field_description) }}#}
{#        {% endfor %}#}
{#    {% else %}#}

{#        <div id="field_container_{{ id }}" class="field-container">#}
{#            <span id="field_widget_{{ id }}">#}
{#                {% if sonata_admin.edit == 'inline' %}#}
{#                    {% if sonata_admin.inline == 'table' %}#}
{#                        {% if form.children|length > 0 %}#}
{#                            {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_inline_table.html.twig' %}#}
{#                        {% endif %}#}
{#                    {% elseif form.children|length > 0 %}#}
{#                        {% set associationAdmin = sonata_admin.field_description.associationadmin %}#}
{#                        {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_inline_tabs.html.twig' %}#}

{#                    {% endif %}#}
{#                {% else %}#}
{#                    {{ form_widget(form) }}#}
{#                {% endif %}#}

{#            </span>#}

{#            {% set related_btn = btn_add and sonata_admin.admin.hasRoute('related_by_tags') %}#}
{#            {% set display_create_button = sonata_admin.field_description.associationadmin.hasRoute('create')#}
{#                and sonata_admin.field_description.associationadmin.hasAccess('create')#}
{#                and btn_add and (#}
{#                    sonata_admin.field_description.options.limit is not defined or#}
{#                    form.children|length < sonata_admin.field_description.options.limit#}
{#                )#}
{#            %}#}

{#            {% if sonata_admin.edit == 'inline' %}#}
{#                {% if display_create_button %}#}
{#                    <span id="field_actions_{{ id }}">#}
{#                        <a href="{{ sonata_admin.field_description.associationadmin.generateUrl(#}
{#                                'create',#}
{#                                sonata_admin.field_description.getOption('link_parameters', {})#}
{#                            ) }}"#}
{#                            id="field_actions_create_{{ id }}"#}
{#                            onclick="return start_field_retrieve_{{ id }}(this);"#}
{#                            class="btn btn-success btn-sm sonata-ba-action"#}
{#                            title="{{ btn_add|trans({}, btn_catalogue) }}"#}
{#                        >#}
{#                            <i class="fa fa-plus-circle"></i>#}
{#                            {{ btn_add|trans({}, btn_catalogue) }}#}
{#                        </a>#}

{#                        {% if related_btn %}#}
{#                            <a#}
{#                                href="#"#}
{#                                onclick="return start_field_related_{{ id }}(this);"#}
{#                                class="btn btn-primary btn-sm sonata-ba-action pull-right"#}
{#                                title="{{ 'btn_search_related'|trans({}, 'BookBundle') }}"#}
{#                            >#}
{#                                <i class="fa fa-refresh"></i>#}
{#                                {{ 'btn_search_related'|trans({}, 'BookBundle') }}#}
{#                            </a>#}

{#                            {% include 'BookBundle:CRUD/Association:edit_related_script.html.twig' %}#}
{#                        {% endif %}#}
{#                    </span>#}
{#                {% endif %}#}

{#                 #}{#add code for the sortable options#}
{#                {% if sonata_admin.field_description.options.sortable is defined %}#}
{#                    {% if sonata_admin.inline == 'table' %}#}
{#                        {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_sortable_script_table.html.twig' %}#}
{#                    {% else %}#}
{#                        {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_sortable_script_tabs.html.twig' %}#}
{#                    {% endif %}#}
{#                {% endif %}#}

{#                 #}{#include association code#}
{#                {% include '@SonataAdmin/CRUD/Association/edit_one_script.html.twig' %}#}

{#            {% else %}#}
{#                <span id="field_actions_{{ id }}" >#}
{#                    {% if display_create_button %}#}
{#                        <a href="{{ sonata_admin.field_description.associationadmin.generateUrl(#}
{#                                'create',#}
{#                                sonata_admin.field_description.getOption('link_parameters', {})#}
{#                            ) }}"#}
{#                            onclick="return start_field_dialog_form_add_{{ id }}(this);"#}
{#                            class="btn btn-success btn-sm sonata-ba-action"#}
{#                            title="{{ btn_add|trans({}, btn_catalogue) }}"#}
{#                        >#}
{#                            <i class="fa fa-plus-circle"></i>#}
{#                            {{ btn_add|trans({}, btn_catalogue) }}#}
{#                        </a>#}
{#                    {% endif %}#}
{#                </span>#}

{#                {% include '@SonataAdmin/CRUD/Association/edit_modal.html.twig' %}#}

{#                {% include '@SonataAdmin/CRUD/Association/edit_many_script.html.twig' %}#}
{#            {% endif %}#}

{#            <hr/>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block sonata_type_model_list_widget %}

    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_actions_{{ id }}" class="field-actions">
            <span id="field_widget_{{ id }}" class="field-short-description">
                {% if sonata_admin.field_description.associationadmin.id(sonata_admin.value) %}
                    {{ render( url('sonata_admin_short_object_information', {
                        'code':     sonata_admin.field_description.associationadmin.code,
                        'objectId': sonata_admin.field_description.associationadmin.id(sonata_admin.value),
                        'uniqid':   sonata_admin.field_description.associationadmin.uniqid,
                        'linkParameters': sonata_admin.field_description.options.link_parameters
                    })) }}
                {% elseif sonata_admin.field_description.options.placeholder is defined and sonata_admin.field_description.options.placeholder %}
                    <span class="inner-field-short-description">
                        {{ sonata_admin.field_description.options.placeholder|trans({}, 'SonataAdminBundle') }}
                    </span>
                {% endif %}
            </span>

            <span class="btn-group">
                {% if sonata_admin.field_description.associationadmin.hasroute('list') and sonata_admin.field_description.associationadmin.isGranted('LIST') and btn_list %}
                    {% set url = sonata_admin.field_description.associationadmin.generateUrl('list', sonata_admin.field_description.getOption('link_parameters', {})|merge({'field_id': id, 'field_name': sonata_admin.field_description.name})) %}
                    <a  href="{{ url }}"
                        onclick="return {{ (is_multiple_actions_in_list|default ? 'start_field_dialog_form_list_with_add_' : 'start_field_dialog_form_list_')~id }}(this);"
                        class="btn btn-info btn-sm sonata-ba-action"
                        title="{{ btn_list|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-list"></i>
                        {{ btn_list|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}

                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                    {% set url = sonata_admin.field_description.associationadmin.generateUrl('create', sonata_admin.field_description.getOption('link_parameters', {})|merge({'field_id': id, 'field_name': sonata_admin.field_description.name})) %}
                    <a  href="{{ url }}"
                        onclick="return start_field_dialog_form_add_{{ id }}(this);"
                        class="btn btn-success btn-sm sonata-ba-action "
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>

            <span class="btn-group">
                {% if sonata_admin.field_description.associationadmin.hasRoute('delete') and sonata_admin.field_description.associationadmin.isGranted('DELETE') and btn_delete %}
                    <a  href=""
                        onclick="return remove_selected_element_{{ id }}(this);"
                        class="btn btn-danger btn-sm sonata-ba-action"
                        title="{{ btn_delete|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-minus-circle"></i>
                        {{ btn_delete|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>
        </span>

        <span style="display: none" >
            {# Hidden text input cannot be required, because browser will throw error "An invalid form control with name='' is not focusable"  #}
            {{ form_widget(form, {'required':false}) }}
        </span>

        <div class="modal fade" id="field_dialog_{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}
    {% include '@Product/Form/CRUD/edit_orm_many_association_for_media_script.html.twig' %}

{% endblock %}
