<div class="container">
    <div class="footer-content">
        <div class="footer-logo"><img src="{{ asset('bundles/app/images/logo.jpg') }}" alt="Naturalstones Jewerly"></div>

        {{
            sonata_block_render(
                { 'type': 'app.block.service.language_switcher' },
                { 'type': constant('AppBundle\\Block\\LanguageSwitcherBlockService::TYPE_FOOTER') }
            )
        }}

        <div class="footer-block-social">
            <a href="https://t.me/naturalstones_jewerly" target="_blank" class="footer-social-icon footer-telegram">
                <img src="{{ asset('bundles/app/images/telegram.svg') }}" alt="Naturalstones Jewerly">
            </a>
            <a href="https://www.youtube.com/channel/UCEwGrDpdrW8dArZmdBC-6rw" target="_blank" class="footer-social-icon footer-youtube">
                <img src="{{ asset('bundles/app/images/youtube.svg') }}" alt="Naturalstones Jewerly">
            </a>
            <a href="https://www.facebook.com/naturalstones.jewerly.ua" target="_blank" class="footer-social-icon footer-facebook">
                <img src="{{ asset('bundles/app/images/facebook.png') }}" alt="Naturalstones Jewerly">
            </a>
            <a href="https://www.instagram.com/naturalstones.jewerly/" target="_blank" class="footer-social-icon footer-instagram">
                <img src="{{ asset('bundles/app/images/instagram.svg') }}" alt="Naturalstones Jewerly">
            </a>
        </div>

        <div class="footer-block">
            <div class="inner">
                <div class="title">{{ 'frontend.footer.schedule'|trans([], 'AppBundle') }} <span>{{ 'frontend.footer.schedule_start'|trans([], 'AppBundle') }} 00:00 до 23:59</span></div>
                <div class="copyright">&copy; {{ 'now'|date('Y') }} {{ 'frontend.footer.copyright'|trans([], 'AppBundle') }}</div>
            </div>
        </div>
        <div class="footer-pay">
            <div class="title">{{ 'frontend.footer.payment_method'|trans([], 'AppBundle') }}</div>
            <ul class="footer-pay-list">
                <li><img src="{{ asset('bundles/app/images/pay-systems/pay-system-8.png') }}" alt=""></li>
                <li><img src="{{ asset('bundles/app/images/pay-systems/pay-system-9.png') }}" alt=""></li>
            </ul>
        </div>
    </div>
</div>

{{
    sonata_block_render(
        { 'type': 'page.block.site_variable' },
        {
            'placement': 'footer-counters'
        }
    )
}}