<!--header-->
<div class="header-inner {{ settings['class'] }}">
    <div class="container">
        <div class="header-content">
            <ul class="header-buter">
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <a href="{{ path('index') }}" class="main-logo"><img src="{{ asset('bundles/app/images/logo.jpg') }}" alt=""></a>

            {{
                sonata_block_render(
                    { 'type': 'app.block.service.menu' }
                )
            }}

            {{
                sonata_block_render(
                    { 'type': 'app.block.service.cart' },
                    { 'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART') }
                )
            }}
        </div>
    </div>
    <div class="header-overlay"></div>
</div>
<!--//header-->