
{% if (settings['type'] == 'header') %}
    <div class="header-menu-outer header-menu-desctop">
        <div class="title">{{ 'frontend.menu_title'|trans([], 'AppBundle') }}</div>
        {% if individual|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">{{ 'frontend.menu.individual'|trans([], 'AppBundle') }}</div>
                    <ul class="header-menu submenu">
                        {% for iCategory in individual %}
                            <li><a href="{{ path('product_list', { 'slug': iCategory.slug }) }}">{{ iCategory.getName()}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if gematit|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">{{ 'frontend.menu.gematit'|trans([], 'AppBundle') }}</div>
                    <ul class="header-menu submenu">
                        {% for gCategory in gematit %}
                            <li><a href="{{ path('product_list', { 'slug': gCategory.slug }) }}">{{ gCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if main|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">{{ 'frontend.menu.decorations'|trans([], 'AppBundle') }}</div>
                    <ul class="header-menu submenu">
                        {% for mCategory in main %}
                            <li><a href="{{ path('product_list', { 'slug': mCategory.slug }) }}">{{ mCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if secondary|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">{{ 'frontend.menu.accessories'|trans([], 'AppBundle') }}</div>
                    <ul class="header-menu submenu">
                        {% for sCategory in secondary %}
                            <li><a href="{{ path('product_list', { 'slug': sCategory.slug }) }}">{{ sCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if giftBox|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">{{ 'frontend.menu.gift_box'|trans([], 'AppBundle') }}</div>
                    <ul class="header-menu submenu">
                        {% for gCategory in giftBox %}
                            <li><a href="{{ path('product_list', { 'slug': gCategory.slug }) }}">{{ gCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if scrapers|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">{{ 'frontend.menu.scrapers'|trans([], 'AppBundle') }}</div>
                    <ul class="header-menu submenu">
                        {% for srCategory in scrapers %}
                            <li><a href="{{ path('product_list', { 'slug': srCategory.slug }) }}">{{ srCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="header-menu-close"><img src="{{ asset('bundles/app/images/cross.svg') }}" alt="cross"></div>
    </div>

    <div class="header-menu-outer header-menu-mobile">
        <div class="title">{{ 'frontend.menu_title'|trans([], 'AppBundle') }}</div>
        {% if individual|length %}
            <div class="header-menu-block">
                <div class="type">{{ 'frontend.menu.individual'|trans([], 'AppBundle') }}</div>
                <ul class="header-menu">
                    {% for iCategory in individual %}
                        <li><a href="{{ path('product_list', { 'slug': iCategory.slug }) }}">{{ iCategory.getName}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if gematit|length %}
            <div class="header-menu-block">
                <div class="type">{{ 'frontend.menu.gematit'|trans([], 'AppBundle') }}</div>
                <ul class="header-menu">
                    {% for gCategory in gematit %}
                        <li><a href="{{ path('product_list', { 'slug': gCategory.slug }) }}">{{ gCategory.getName}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if main|length %}
            <div class="header-menu-block">
                <div class="type">{{ 'frontend.menu.decorations'|trans([], 'AppBundle') }}</div>
                <ul class="header-menu">
                    {% for mCategory in main %}
                        <li><a href="{{ path('product_list', { 'slug': mCategory.slug }) }}">{{ mCategory.getName}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if secondary|length %}
            <div class="header-menu-block">
                <div class="type">{{ 'frontend.menu.accessories'|trans([], 'AppBundle') }}</div>
                <ul class="header-menu">
                    {% for sCategory in secondary %}
                        <li><a href="{{ path('product_list', { 'slug': sCategory.slug }) }}">{{ sCategory.getName}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if giftBox|length %}
            <div class="header-menu-block">
                <div class="type">{{ 'frontend.menu.gift_box'|trans([], 'AppBundle') }}</div>
                <ul class="header-menu">
                    {% for gCategory in giftBox %}
                        <li><a href="{{ path('product_list', { 'slug': gCategory.slug }) }}">{{ gCategory.getName}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if scrapers|length %}
            <div class="header-menu-block">
                <div class="type">{{ 'frontend.menu.scrapers'|trans([], 'AppBundle') }}</div>
                <ul class="header-menu">
                    {% for scCategory in scrapers %}
                        <li><a href="{{ path('product_list', { 'slug': scCategory.slug }) }}">{{ scCategory.getName}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="header-menu-close"><img src="{{ asset('bundles/app/images/cross.svg') }}" alt="cross"></div>
    </div>
{% elseif (settings['type'] == 'video') %}
    <div class="video-menu-outer">
        <div class="title">{{ 'frontend.menu_title'|trans([], 'AppBundle') }}</div>
        <div class="video-menu-flex">
            {% if individual|length %}
                <div class="video-menu-block">
                    <div class="type">{{ 'frontend.menu.individual'|trans([], 'AppBundle') }}</div>
                    <ul class="video-menu">
                        {% for iCategory in individual %}
                            <li><a href="{{ path('product_list', { 'slug': iCategory.slug }) }}">{{ iCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if main|length %}
                <div class="video-menu-block">
                    <div class="type">{{ 'frontend.menu.decorations'|trans([], 'AppBundle') }}</div>
                    <ul class="video-menu">
                        {% for mCategory in main %}
                            <li><a href="{{ path('product_list', { 'slug': mCategory.slug }) }}">{{ mCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if secondary|length %}
                <div class="video-menu-block">
                    <div class="type">{{ 'frontend.menu.accessories'|trans([], 'AppBundle') }}</div>
                    <ul class="video-menu">
                        {% for sCategory in secondary %}
                            <li><a href="{{ path('product_list', { 'slug': sCategory.slug }) }}">{{ sCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if giftBox|length %}
                <div class="video-menu-block">
                    <div class="type">{{ 'frontend.menu.gift_box'|trans([], 'AppBundle') }}</div>
                    <ul class="video-menu">
                        {% for gCategory in giftBox %}
                            <li><a href="{{ path('product_list', { 'slug': gCategory.slug }) }}">{{ gCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if scrapers|length %}
                <div class="video-menu-block">
                    <div class="type">{{ 'frontend.menu.scrapers'|trans([], 'AppBundle') }}</div>
                    <ul class="video-menu">
                        {% for scCategory in scrapers %}
                            <li><a href="{{ path('product_list', { 'slug': scCategory.slug }) }}">{{ scCategory.getName}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="video-menu-close"><img src="{{ asset('bundles/app/images/cross.svg') }}" alt="cross"></div>
    </div>
{% endif %}