
{% if (settings['type'] == 'header') %}
    <div class="header-menu-outer header-menu-desctop">
        <div class="title">Меню</div>
        {% if individual|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">Индивидуальные заказы</div>
                    <ul class="header-menu submenu">
                        {% for iCategory in individual %}
                            <li><a href="{{ path('product_list', { 'slug': iCategory.slug }) }}">{{ iCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if main|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">Украшения</div>
                    <ul class="header-menu submenu">
                        {% for mCategory in main %}
                            <li><a href="{{ path('product_list', { 'slug': mCategory.slug }) }}">{{ mCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if secondary|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">Фурнитура</div>
                    <ul class="header-menu submenu">
                        {% for sCategory in secondary %}
                            <li><a href="{{ path('product_list', { 'slug': sCategory.slug }) }}">{{ sCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if giftBox|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title"> Подарочные упаковки</div>
                    <ul class="header-menu submenu">
                        {% for gCategory in giftBox %}
                            <li><a href="{{ path('product_list', { 'slug': gCategory.slug }) }}">{{ gCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if scrapers|length %}
            <div class="header-menu-block topmenu">
                <div class="type">
                    <div class="type-title">Скребки Гуаша</div>
                    <ul class="header-menu submenu">
                        {% for srCategory in scrapers %}
                            <li><a href="{{ path('product_list', { 'slug': srCategory.slug }) }}">{{ srCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="header-menu-close"><img src="{{ asset('bundles/app/images/cross.svg') }}" alt=""></div>
    </div>

    <div class="header-menu-outer header-menu-mobile">
        <div class="title">Меню</div>
        {% if individual|length %}
            <div class="header-menu-block">
                <div class="type">Индивидуальные заказы</div>
                <ul class="header-menu">
                    {% for iCategory in individual %}
                        <li><a href="{{ path('product_list', { 'slug': iCategory.slug }) }}">{{ iCategory.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if main|length %}
            <div class="header-menu-block">
                <div class="type">Украшения</div>
                <ul class="header-menu">
                    {% for mCategory in main %}
                        <li><a href="{{ path('product_list', { 'slug': mCategory.slug }) }}">{{ mCategory.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if secondary|length %}
            <div class="header-menu-block">
                <div class="type">Фурнитура</div>
                <ul class="header-menu">
                    {% for sCategory in secondary %}
                        <li><a href="{{ path('product_list', { 'slug': sCategory.slug }) }}">{{ sCategory.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if giftBox|length %}
            <div class="header-menu-block">
                <div class="type">Подарочные упаковки</div>
                <ul class="header-menu">
                    {% for gCategory in giftBox %}
                        <li><a href="{{ path('product_list', { 'slug': gCategory.slug }) }}">{{ gCategory.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if scrapers|length %}
            <div class="header-menu-block">
                <div class="type">Скребки Гуаша</div>
                <ul class="header-menu">
                    {% for scCategory in scrapers %}
                        <li><a href="{{ path('product_list', { 'slug': scCategory.slug }) }}">{{ scCategory.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="header-menu-close"><img src="{{ asset('bundles/app/images/cross.svg') }}" alt=""></div>
    </div>
{% elseif (settings['type'] == 'video') %}
    <div class="video-menu-outer">
        <div class="title">Меню</div>
        <div class="video-menu-flex">
            {% if individual|length %}
                <div class="video-menu-block">
                    <div class="type">Индивидуальные заказы</div>
                    <ul class="video-menu">
                        {% for iCategory in individual %}
                            <li><a href="{{ path('product_list', { 'slug': iCategory.slug }) }}">{{ iCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if main|length %}
                <div class="video-menu-block">
                    <div class="type">Украшения</div>
                    <ul class="video-menu">
                        {% for mCategory in main %}
                            <li><a href="{{ path('product_list', { 'slug': mCategory.slug }) }}">{{ mCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if secondary|length %}
                <div class="video-menu-block">
                    <div class="type">Фурнитура</div>
                    <ul class="video-menu">
                        {% for sCategory in secondary %}
                            <li><a href="{{ path('product_list', { 'slug': sCategory.slug }) }}">{{ sCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if giftBox|length %}
                <div class="video-menu-block">
                    <div class="type">Подарочные упаковки</div>
                    <ul class="video-menu">
                        {% for gCategory in giftBox %}
                            <li><a href="{{ path('product_list', { 'slug': gCategory.slug }) }}">{{ gCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if scrapers|length %}
                <div class="video-menu-block">
                    <div class="type">Скребки Гуаша</div>
                    <ul class="video-menu">
                        {% for scCategory in scrapers %}
                            <li><a href="{{ path('product_list', { 'slug': scCategory.slug }) }}">{{ scCategory.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="video-menu-close"><img src="{{ asset('bundles/app/images/cross.svg') }}" alt=""></div>
    </div>
{% endif %}