
{% if (settings['type'] == 'header') %}
    <div class="header-menu-outer">
        <div class="title">Меню</div>
        <div class="header-menu-block">
            <div class="type">Украшения</div>
            <ul class="header-menu">
                {% for category in categories %}
                    <li><a href="{{ path('product_list', { 'slug': category.slug }) }}">{{ category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="header-menu-close"><img src="{{ asset('bundles/app/images/cross.svg') }}" alt=""></div>
    </div>
{% elseif (settings['type'] == 'video') %}
    <div class="video-menu-outer">
        <div class="title">Меню</div>
        <div class="video-menu-flex">
            <div class="video-menu-block">
                <div class="type">Украшения</div>
                <ul class="video-menu">
                    {% for category in categories %}
                        <li><a href="{{ path('product_list', { 'slug': category.slug }) }}">{{ category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!--						<div class="video-menu-block">-->
            <!--							<div class="type">Дополнительно</div>-->
            <!--							<ul class="video-menu">-->
            <!--								<li><a href="">Шарики</a></li>-->
            <!--								<li><a href="">Сладости / Игрушки</a></li>-->
            <!--							</ul>-->
            <!--						</div>-->
        </div>
        <div class="video-menu-close"><img src="images/cross.svg" alt=""></div>
    </div>
{% endif %}