{% if books %}
    {% for book in books %}
        <a href="{{ path('book_view', { 'slug': book.slug, 'id': book.id }) }}" class="search-item">
            <img class="lazyload" data-src="{{ asset(book.poster.path) }}" alt="{{ book.name }}">
            <div>
                <h3>{{ replace_highlight(book.name, search)|raw }}</h3>
                <span><b>Автор(ы):</b>
                    <span class="author-name">
                        {% for author in book.getAuthors %}
                            {{ replace_highlight(author.name, search)|raw }}{{  loop.last ? '' : ' / ' }}
                        {% endfor %}
                    </span>
                </span>
                {% set desc = book.description|truncate(280, true) %}
                <span>{{ replace_highlight(desc, search)|raw }}</span>
            </div>
        </a>
    {% endfor %}
    <a href="{{ path('search', { 'search': search }) }}" class="all-result">Посмотреть все результаты</a>
{% else %}
    <div class="no-result">
        Похожих книг на сайте не найдено
    </div>
    <a href="{{ path('order_board') }}" class="all-result">Оставьте запрос на добавление книги</a>
{% endif %}