{% set block_ajax_path = block.page is defined ? sonata_page_ajax_url(block) : block_ajax_url(block) %}

{% if products.product is defined %}
    <form action="#" method="post" class="cart-table-form">
        <table class="cart-table">
            <thead>
            <tr>
                <th>{{ 'frontend.cart.table.products'|trans([], 'AppBundle') }}</th>
                <th>{{ 'frontend.cart.table.price'|trans([], 'AppBundle') }}</th>
                <th>{{ 'frontend.cart.table.count'|trans([], 'AppBundle') }}</th>
                <th>{{ 'frontend.cart.table.total'|trans([], 'AppBundle') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for key, mProduct in products.product %}
                    <tr>
                        <td data-text="{{ 'frontend.cart.table.products'|trans([], 'AppBundle') }}">
                            <div class="cart-item">
                                <a href="{{ product_path(mProduct.item) }}" class="item-image"><img alt="{{ mProduct.item.name }}" class="lazyload" data-src="{{ asset(mProduct.item.image.getPath()) }}" src=""></a>
                                <div class="item-name">
                                    <a href="{{ product_path(mProduct.item) }}">{{ mProduct.item.name }}</a>
                                    {% if mProduct.item.size %}
                                        <i>({{ mProduct.item.size }})</i>
                                    {% endif  %}
{#                                    {% if mProduct.item.discount %}#}
{#                                        <span>Скидка</span>#}
{#                                    {% endif  %}#}
                                    {% if mProduct.colour is defined %}
                                        <br>
                                        <i style="font-size: 14px;">{{ 'frontend.cart.colour'|trans([], 'AppBundle') }}:</i> <i style="display: inline-block;border: 1px solid #E6E6E6; padding: 2px 8px; background: #{{ mProduct.colour.colour }};border-radius: 10px;font-size: 11px;">{{ mProduct.colour.name }}</i>
                                    {% endif %}
                                    {% if mProduct.letter is defined %}
                                        <br>
                                        <i style="font-size: 14px;">{{ 'frontend.cart.letter'|trans([], 'AppBundle') }}:</i> <i style="display: inline-block;border: 1px solid #E6E6E6; padding: 2px 8px;border-radius: 10px;font-size: 11px;">{{ mProduct.letter }}</i>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td data-text="{{ 'frontend.cart.table.price'|trans([], 'AppBundle') }}">
                            {% if mProduct.colour is defined %}
                                <div class="price"><span>{{ mProduct.price|number_format(2, ',') }} грн</span></div>
                            {% else %}
                                {% if mProduct.item.discount %}
                                    <div class="price">
                                        <span class="old-price">{{ mProduct.item.price }} грн</span>
                                        <span>{{ mProduct.item.discount|number_format(2, ',') }} грн</span>
                                    </div>
                                {% else %}
                                    <div class="price"><span>{{ mProduct.item.price|number_format(2, ',') }} грн</span></div>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td data-text="{{ 'frontend.cart.table.count'|trans([], 'AppBundle') }}">
                            <div class="cart-product-amount">
                                <span class="qtyminus" data-recalculate="1">−</span>
                                <input type="text"
                                       data-id="{{ key }}"
                                       data-url="{{ block_ajax_path }}"
                                       data-action="{{ constant('AppBundle\\Block\\CartBlockService::ACTION_CART_RECALCULATE') }}"
                                       data-template="{{ constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART_PAGE') }}"
                                       value="{{ mProduct.count }}"
                                       class="qty input-recalculate"
                                       onkeypress="return event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57"
                                       placeholder="">
                                <span class="qtyplus" data-recalculate="1" data-max="100">+</span>
                            </div>
                        </td>
                        <td data-text="{{ 'frontend.cart.table.total'|trans([], 'AppBundle') }}">
                            <div class="price">{{ mProduct.totalPrice|number_format(2, ',') }} грн</div>
                        </td>
                        <td>
                            <a href="#"
                               data-id="{{ key }}"
                               data-url="{{ block_ajax_path }}"
                               data-template="{{ constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART_PAGE') }}"
                               data-action="{{ constant('AppBundle\\Block\\CartBlockService::ACTION_REMOVE') }}"
                               class="remove-item">
                                <img src="{{ asset('bundles/app/images/cross.svg') }}" alt="">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="cart-table-total">
            <a href="" class="button white-button">{{ 'frontend.cart.continue'|trans([], 'AppBundle') }}</a>
            <div class="total-price">
                {{ 'frontend.cart.total'|trans([], 'AppBundle') }}: <span>{{ cart.getTotalPrice()|number_format(2, ',') }} грн</span>
            </div>
            <a href="{{ path('step-1') }}" type="submit" class="button">{{ 'frontend.cart.checkout'|trans([], 'AppBundle') }}</a>
        </div>
    </form>
{% else %}
    <table class="cart-table">
        <tbody>
        <tr>
            <td style="text-align: center"><img src="{{ asset('bundles/app/images/sad.png') }}" alt=""><h2>{{ 'frontend.cart.empty'|trans([], 'AppBundle') }}</h2></td>
        </tr>
        </tbody>
    </table>

    <div class="cart-table-total">
        <a href="" class="button white-button">{{ 'frontend.cart.continue'|trans([], 'AppBundle') }}</a>
    </div>
{% endif %}