{% set block_ajax_path = block.page is defined ? sonata_page_ajax_url(block) : block_ajax_url(block) %}

<div class="top">В корзине <span class="countProductInCart" id="countProductInCart" data-count-cart="{{ countItems }}">{{ countItems }}</span> товара</div>
<div class="middle">
    {% if products.product is defined %}
        {% for mProduct in products.product %}
            <div class="header-cart-item">
                <a href="{{ product_path(mProduct.item) }}" class="image"><img class="lazyload" data-src="{{ asset(mProduct.item.image.getPath()) }}" src="" alt=""></a>
                <div class="inner">
                    <a href="{{ product_path(mProduct.item) }}" class="name">{{ mProduct.item.name }} {% if mProduct.item.size %}({{ mProduct.item.size }}){% endif %} - {{ mProduct.count }} шт</a>
                    {% if mProduct.item.discount %}
                        <div class="price">
                            <span class="old-price">{{ mProduct.item.price }} грн</span>
                            <span>{{ mProduct.item.discount|number_format(2, ',') }} грн</span>
                        </div>
                    {% else %}
                        <div class="price">{{ mProduct.item.price|number_format(2, ',') }} грн</div>
                    {% endif %}
                </div>
                <a href="" data-id="{{ mProduct.item.id }}" data-url="{{ block_ajax_path }}" data-action="{{ constant('AppBundle\\Block\\CartBlockService::ACTION_REMOVE') }}" class="remove remove-product">
                    <img src="{{ asset('bundles/app/images/cross.svg') }}" alt="">
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="bottom">
    <div class="total">
        <p>Итого:</p>
        <div class="total-price">{{ cart.getTotalPrice() }} грн</div>
    </div>
    <a href="{{ path('cart') }}" class="button">Корзина</a>
</div>