<!-- product-section -->
<section class="simple-section">
    <div class="container">

        {{
            sonata_block_render(
                { 'type': 'app.block.service.breadcrumb' }
            )
        }}

        <h1>{{ product.name }} {{ product.size }}</h1>
        <div class="product-section-detail">

            <div class="product-gallery">
                <div class="product-big-slider js-slick">
                    <div class="product-big-item">
                        {% if product.instagramLink %}
                            <a href="{{ product.instagramLink }}" target="_blank"><img src="{{ asset('bundles/app/images/instagram.png') }}" class="insta_link" alt="instagram"></a>
                        {% endif %}
                        <img src="{{ asset(product.image.path) }}" class="big-slider-img" alt="{{ product.name }}">
                    </div>
                    {% for productImage in product.productHasImage %}
                        <div class="product-big-item">
                            {% if product.instagramLink %}
                                <a href="{{ product.instagramLink }}" target="_blank"><img src="{{ asset('bundles/app/images/instagram.png') }}" class="insta_link" alt="instagram"></a>
                            {% endif %}
                            <img src="{{ asset(productImage.image.path) }}" class="big-slider-img" alt="{{ product.name }}">
                        </div>
                    {% endfor %}

                    {% for productImageColour in product.productHasOptionColour %}
                        {% if productImageColour.image %}
                            <div class="product-big-item" data-option-colour="{{ productImageColour.id }}">
                                {% if product.instagramLink %}
                                    <a href="{{ product.instagramLink }}" target="_blank"><img src="{{ asset('bundles/app/images/instagram.png') }}" class="insta_link" alt="instagram"></a>
                                {% endif %}
                                <img src="{{ asset(productImageColour.image.path) }}" class="big-slider-img" alt="{{ product.name }}">
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for productImageMetal in product.productHasOptionMetal %}
                        {% if productImageMetal.image %}
                            <div class="product-big-item">
                                {% if product.instagramLink %}
                                    <a href="{{ product.instagramLink }}" target="_blank"><img src="{{ asset('bundles/app/images/instagram.png') }}" class="insta_link" alt="instagram"></a>
                                {% endif %}
                                <img src="{{ asset(productImageMetal.image.path) }}" class="big-slider-img" alt="{{ product.name }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="product-information">
                <div class="product-info-top clearfix">
                    <form action="#" method="post" class="product-add-form">
                        <div class="top-block">
                            {% if product.productHasOptionColour|length > 0 %}
                                <div class="inner-block">
                                    <h5>Выберите цвет</h5>
                                    <ul class="product-colours-check">
                                        {% for productImageColour in product.productHasOptionColour %}
                                            {% if productImageColour.colour %}
                                                <li>
                                                    <div class="colour-radiobox">
                                                        <label class="radiobox">
                                                            <input type="radio" name="colour_id" value="{{ productImageColour.colour.id }}">
                                                            <i class="switch-colour"
                                                               data-option-colour="{{ productImageColour.id }}"
                                                               title="{{ productImageColour.colour.name }}"
                                                               style="background-color: #{{ productImageColour.colour.colour }}"></i>
                                                        </label>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <span id="colourError" class="text-red"></span>
                                </div>
                            {% endif %}

                            {% if sizes|length > 0 %}
                                <div class="inner-block">
                                    <h5>Выберите размер</h5>
                                    <ul class="product-sizes-check">
                                        {% for productSize in sizes %}
                                            {% if productSize.size %}
                                                <li>
                                                    <div class="size-radiobox">
                                                        <a href="{{ product_path(productSize) }}">
                                                            <i class="{% if productSize.id == product.id %}product-sizes-active{% endif %}">{{ productSize.size }}</i>
                                                        </a>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <div class="select-block mobile-select">
                                        <select class="custom-select change-size" data-placeholder="Размер">
                                            <option></option>
                                            {% for productSize in sizes %}
                                                {% if productSize.size %}
                                                    <option data-url="{{ product_path(productSize, true) }}" {% if productSize.id == product.id %}selected{% endif %} value="{{ productSize.id }}">{{ productSize.size }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endif %}

                            {% if product.productHasOption|length > 0 %}
                                <div class="inner-block">
                                    {% if product.optionType == constant('ProductBundle\\Entity\\Product::TYPE_LETTERS') %}
                                        <h5>Выберите букву</h5>
                                        <div class="select-block">
                                            <select class="custom-select select-letters" data-placeholder="Буквы">
                                                <option></option>
                                                {% for productOption in product.productHasOption %}
                                                    {% if productOption.value %}
                                                        <option value="{{ productOption.value }}">{{ productOption.value }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <span id="letterError" class="text-red"></span>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="inner-block">
                                <h5>Выберите количество</h5>
                                <div class="cart-product-amount">
                                    <span class="qtyminus">−</span>
                                    <input type="text" id="quantity" value="1" class="qty" onkeypress="return event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57" placeholder="">
                                    <span class="qtyplus" data-max="100">+</span>
                                </div>
                            </div>
                        </div>
                        {% if product.productHasProduct|length %}
                            <div class="middle-block">
                                <h5>Что входит в набор</h5>
                                <table class="table-product-set">
                                    {% for prodSet in product.productHasProduct %}
                                        <tr>
                                            <td><a href="{{ product_path(prodSet.productSet) }}" class="link">{{ prodSet.productSet.name }}</a></td>
                                            <td>{{ prodSet.productSet.size }}</td>
                                            <td>{{ prodSet.quantity }} шт.</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                        <div class="bottom-block">
                            <div class="total-price">
                                {% if product.discount %}
                                    <div class="price">
                                        <span class="old-price">{{ product.price}} грн</span><br>
                                        <span>{{ product.discount}} грн</span>
                                    </div>
                                {% else %}
                                    <div class="price"><span>{{ product.price}} грн</span></div>
                                {% endif %}
{#                                {{ product.price }} грн#}
                            </div>
                            {{
                                sonata_block_render(
                                    { 'type': 'app.block.service.cart' },
                                    {
                                        'product': product,
                                        'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_BUTTON_IN_PRODUCT')
                                    }
                                )
                            }}
                        </div>
                    </form>

                    <div class="product-quick">
                        <div class="product-quick-toggle button">Быстрый заказ <img src="{{ asset('bundles/app/images/arrow-right-purple.svg') }}" alt=""></div>
                        <div class="product-quick-block">
                            <div class="top">
                                <h5>Нет времени оформлять?</h5>
                                <div class="messengers-input">
                                    <input class="telegram phone-input" name="phone" type="text" placeholder="+38 (___) ___-__-__" autocomplete="off">
                                    <input class="" name="instagram" type="text" placeholder="https://instagram.com" style="display: none" autocomplete="off">
                                    <input type="hidden" name="product" value="{{ product.id }}">
                                    <span class="error-message text-red"></span>
                                </div>
                            </div>
                            <div class="middle">
                                <div class="note">Выберите в каком мессенджере вам ответить:</div>
                                <ul class="messengers-list">
                                    <li>
                                        <label class="messengers-radio telegram">
                                            <input type="radio" name="messenger" value="telegram" checked>
                                            <span>
                                                <img src="{{ asset('bundles/app/images/telegram.svg') }}" alt="telegram">
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="messengers-radio viber">
                                            <input type="radio" name="messenger" value="viber">
                                            <span>
                                                <img src="{{ asset('bundles/app/images/viber.svg') }}" alt="viber">
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="messengers-radio instagram">
                                            <input type="radio" name="messenger" value="instagram">
                                            <span>
                                                <img src="{{ asset('bundles/app/images/inst.png') }}" width="39px" alt="instagram">
                                            </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="bottom">
                                <a href="#" data-url="{{ path('product_quick_order') }}" class="button product-quick-cart">Быстрый заказ</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-description">
                    <ul class="product-description-list">
                        <li>
                            <a href="#prod-desc-2" class="active-tab"><img src="{{ asset('bundles/app/images/info.svg') }}" alt="">Описание</a>
                        </li>
                        <li>
                            <a href="#prod-desc-3"><img src="{{ asset('bundles/app/images/list.svg') }}" alt="">Характеристики</a>
                        </li>
                        <li>
                            <a href="#prod-desc-1"><img src="{{ asset('bundles/app/images/delivery.svg') }}" alt="">Доставка и оплата</a>
                        </li>
                    </ul>
                    <div class="product-description-inner">
                        <!-- Таб-1 -->
                        <div id="prod-desc-2" class="product-description-content visible">
                            <div class="product-description-trigger">
                                <a href="">
                                    <span class="pic"><img src="{{ asset('bundles/app/images/info.svg') }}" alt=""></span>
                                    Описание
                                    <img src="{{ asset('bundles/app/images/select-arrow.svg') }}" class="arrow" alt="">
                                </a>
                            </div>
                            <div class="product-description-tab">
                                <div class="product-desc-text">
                                    {{ product.description|raw }}
                                </div>
                            </div>
                        </div>
                        <!-- Таб-2 -->
                        <div id="prod-desc-3" class="product-description-content">
                            <div class="product-description-trigger">
                                <a href="">
                                    <span class="pic"><img src="{{ asset('bundles/app/images/list.svg') }}" alt=""></span>
                                    Характеристики
                                    <img src="{{ asset('bundles/app/images/select-arrow.svg') }}" class="arrow" alt="">
                                </a>
                            </div>
                            <div class="product-description-tab">
                                <table class="product-char-table">
                                    {% if product.metals|length %}
                                        <tr>
                                            <td>
                                                <div class="name">Материал</div>
                                            </td>
                                            <td>
                                                {% for metal in product.metals %}
                                                    <em>{{ metal.name }}</em>
                                                    {{ loop.last ? '' : ' , ' }}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if product.colours|length %}
                                        <tr>
                                            <td>
                                                <div class="name">Цвет</div>
                                            </td>
                                            <td>
                                                {% for colour in product.colours %}
                                                    <a href="{{ path('product_colour_list', { 'slug': colour.slug }) }}">
                                                        <em style="color: {{ '#'~(colour.colour == 'ffffff' ? '000000' : colour.colour) }}">{{ colour.name }}</em>
                                                    </a>
                                                    {{ loop.last ? '' : ' , ' }}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <div class="name">Кому</div>
                                        </td>
                                        <td>
                                            {% if product.isMan %}
                                                <a href="{{ path('product_who_list', {'who' : 'man'}) }}" class="link">Мужские</a>{% if product.isWoman %}, {% endif %}
                                            {% endif %}

                                            {% if product.isWoman %}
                                                <a href="{{ path('product_who_list', {'who' : 'woman'}) }}" class="link">Женские</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if product.stones|length %}
                                        <tr>
                                            <td>
                                                <div class="name">Камни</div>
                                            </td>
                                            <td>
                                                {% for stone in product.stones %}
                                                    <a href="{{ path('product_stone_list', { 'slug': stone.slug }) }}" class="link">
                                                        <em>{{ stone.name }}</em>
                                                    </a>
                                                    {{ loop.last ? '' : ' , ' }}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                        <!-- Таб-3 -->
                        <div id="prod-desc-1" class="product-description-content">
                            <div class="product-description-trigger">
                                <a href="">
                                    <span class="pic"><img src="{{ asset('bundles/app/images/delivery.svg') }}" alt=""></span>
                                    Доставка и оплата
                                    <img src="{{ asset('bundles/app/images/select-arrow.svg') }}" class="arrow" alt="">
                                </a>
                            </div>
                            <div class="product-description-tab">
                                <div class="product-desc-text">
                                    <ul>
                                        <li>Оплата принимается на карты <strong>Приват банка</strong> и <strong>Monobank</strong>;</li>
                                        <li>Заказ будет отправлен в тот же день после оплаты;</li>
                                        <li>Доставка в другие страны рассчитывается <strong>индивидуально</strong>.</li>
                                    </ul>
                                </div>
                                <div class="product-pay-list">
                                    <div class="product-pay-block">
                                        <div class="pay-title">Оплата производится с помощью банков</div>
                                        <ul class="product-pay-country">
                                            <li>
                                                <img src="{{ asset('bundles/app/images/pay-systems/pay-system-8.png') }}" alt="">
                                                <img src="{{ asset('bundles/app/images/pay-systems/pay-system-9.png') }}" alt="">
                                                <span>Украина</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if product.tags|length > 0 %}
                        <div class="product-tags">
                            <span>Теги:</span>
                            {% for tag in product.tags %}
                                <a href="{{ path('product_tags_list', {'slug' : tag.slug}) }}" class="link">#{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="container">
        {{
            sonata_block_render(
                { 'type': 'product.block.list' },
                {
                    'title' : 'Похожие товары',
                    'items_count' : 10,
                    'exclude_ids' : product.id,
                    'category_slug' : app.request.get('category'),
                    'page': app.request.get('page') ? app.request.get('page') : 1,
                    'list_type': constant('ProductBundle\\Block\\ListProductBlockService::SIMILAR_LIST')
                }
            )
        }}
    </div>
</section>

<script>
    let ids = JSON.parse(window.localStorage.getItem('product_ids'));
    if (ids) {
        let productId = '{{ product.id }}';

        ids = ids.filter(function(value, key) {
           if (key > 18) {
               return false;
           }
           return value !== productId;
        });
        ids.unshift(productId);
        localStorage.setItem('product_ids', JSON.stringify(ids))
    } else {
        localStorage.setItem('product_ids', JSON.stringify(['{{ product.id }}']))
    }
</script>