<section class="simple-section">
    <div class="container">

        {{
            sonata_block_render(
                { 'type': 'app.block.service.breadcrumb' }
            )
        }}

        <div class="cart-title">
            <h1>{{ 'frontend.cart.title'|trans([], 'AppBundle') }}</h1>
            {{
                sonata_block_render(
                    { 'type': 'app.block.service.cart' },
                    {
                        'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_BUTTON_CLEAR')
                    }
                )
            }}
        </div>

        <div id="cartContainer">
            {{
                sonata_block_render(
                    { 'type': 'app.block.service.cart' },
                    {
                        'action': constant('AppBundle\\Block\\CartBlockService::ACTION_SHOW'),
                        'template': constant('AppBundle\\Block\\CartBlockService::TEMPLATE_CART_PAGE')
                    }
                )
            }}
        </div>

{#        <div class="cart-gifts-block">#}
{#            <div class="gifts-title"><span>Добавить к этому заказу подарок?</span></div>#}
{#            <div class="gifts-slider-outer">#}
{#                <div class="gifts-slider js-slick">#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>#}
{#                        <div class="price">15 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>#}
{#                        <div class="price">10 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>#}
{#                        <div class="price">15 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>#}
{#                        <div class="price">10 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>#}
{#                        <div class="price">15 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>#}
{#                        <div class="price">10 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>#}
{#                        <div class="price">15 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>#}
{#                        <div class="price">10 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>#}
{#                        <div class="price">15 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="dop-items-block">#}
{#                        <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>#}
{#                        <div class="price">10 USD</div>#}
{#                        <a href="" class="add-item">#}
{#                            <img src="images/check.svg" alt="">#}
{#                            <span>Добавить</span>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="cart-quick">
            <div class="product-quick-block">
                <div class="top">
                    <h5>{{ 'frontend.quic_order.title'|trans([], 'AppBundle') }}</h5>
                    <div class="messengers-input">
                        <input class="telegram phone-input quick-phone" name="phone" type="text" placeholder="+38 (___) ___-__-__" autocomplete="off">
                        <input class="" name="instagram" type="text" placeholder="https://instagram.com" style="display: none" autocomplete="off">
                        <span class="error-message text-red"></span>
                    </div>
                </div>
                <div class="middle">
                    <div class="note">{{ 'frontend.quic_order.messenger'|trans([], 'AppBundle') }}:</div>
                    <ul class="messengers-list">
                        <li>
                            <label class="messengers-radio telegram">
                                <input type="radio" name="messenger" value="telegram" checked>
                                <span>
                                     <img src="{{ asset('bundles/app/images/telegram.svg') }}" alt="telegram">
                                </span>
                            </label>
                        </li>
                        <li>
                            <label class="messengers-radio viber">
                                <input type="radio" name="messenger" value="viber">
                                <span>
                                    <img src="{{ asset('bundles/app/images/viber.svg') }}" alt="viber">
                                </span>
                            </label>
                        </li>
                        <li>
                            <label class="messengers-radio instagram">
                                <input type="radio" name="messenger" value="instagram">
                                <span>
                                    <img src="{{ asset('bundles/app/images/inst.png') }}" width="39px" alt="instagram">
                                </span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="bottom">
                    <a href="#" data-url="{{ path('quick_order') }}" class="button quick-cart">{{ 'frontend.quic_order.btn_order'|trans([], 'AppBundle') }}</a>
                </div>
            </div>
        </div>

    </div>
</section>