{% macro comment(comment, show_title = true) %}
    {% spaceless %}
        <div class="comment-item" itemprop="review" itemscope itemtype="http://schema.org/Review">
            <div class="comment-rating">
                <p style="display: none" itemprop="datePublished" content="{{ comment.createdAt|date('Y-m-d') }}"></p>
                <div class="comment-user" itemprop="author">{{ comment.user ? comment.user.username : comment.userName }}</div>
                <div class="stars">
                    <span style="display: none" itemprop="reviewRating">{{ comment.rating }}</span>
                    <i class="active"></i>
                    <i class="active"></i>
                    <i class="active"></i>
                    <i class="active"></i>
                    <i class="active"></i>
                </div>
            </div>
            <div class="comment-product"><a href="{{ product_path(comment.product) }}" itemprop="name">{{ comment.product.name }}</a></div>
            <div class="comment" itemprop="reviewBody">
                {{ comment.comment|raw }}
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}