<div class="col-cont">
    <div class="container">

        <div class="section-title clearfix">
            <h2>Автор: <span>{{ author.name }}</span></h2>
        </div>

        {% if author.biography %}
            <div class="author-body clearfix">
                <img class="lazyload" data-src="{{ author.photo ? asset(author.photo.path) : asset('bundles/app/assets/images/unknown-person.jpg') }}" width="200" height="auto" align="left" alt="{{ author.name|raw }}">
                {{ author.biography|raw }}
            </div>
        {% endif %}

        <div class="section-title clearfix">
            {% set countBook = author.getBooks().count() %}
            <h2>Книги:</h2>
        </div>

        <div class="movies clearfix grid grid-list">

            {{
            sonata_block_render(
                { 'type': 'book.block.list' },
                {
                    'items_count' : 20,
                    'page': app.request.get('page') ? app.request.get('page') : 1,
                    'author': author,
                }
            )
            }}

        </div>
    </div>

</div>