{% macro order(order) %}
    {% spaceless %}
        <tr>
            <td style="width:32px;"><i class="{{ icon_order_status(order.status) }} td-icon" aria-hidden="true"></i></td>
            {% if order.book %}
                <td class="title"><a href="{{ path('book_view', { 'id': order.book.id, 'slug': order.book.slug }) }}">{{ order.bookTitle|raw }}</a></td>
            {% else %}
                <td class="title">{{ order.bookTitle|raw }}</td>
            {% endif %}
            <td style="width:150px;">{{ order.user ? order.user.username : order.userName ?: 'анонимно' }}</td>
            <td style="width:155px;">{{ order.createdAt|date_time_humanize }}</td>
            <td style="width:36px">
                <span class="td-rating {{ order.vote > 0 ? 'green' : null }}"
                      data-order-id="{{ order.id }}"
                      onclick="voteOrderBoard({{ order.vote }}, {{ order.id }}, '{{ path('order_board_vote') }}');"
                      title="Поддержать">{{ order.vote }}</span>
            </td>
        </tr>
    {% endspaceless %}
{% endmacro %}