{% set preview_container_id = 'image_preview_'~random() %}
<span class="inner-field-short-description" id="{{ preview_container_id }}">
    {% if object and admin.hasRoute('edit') and admin.hasAccess('edit') %}
        <a href="{{ admin.generateObjectUrl('edit', object, link_parameters) }}" target="_blank">{{ description }}</a>
    {% else %}
        {{ description }}
    {% endif %}

    {% if object is mediainstanceof('\\MediaBundle\\Entity\\MediaImage') and object.path %}
        {#{% set imagePreviewPath = object.path|imagine_filter('admin_preview_220x124') %}#}
        {% set imagePreviewPath = object.path %}
        <script>
            var {{ preview_container_id }} = jQuery('#{{ preview_container_id }}').parent().parent().find('img:first');
            if ({{ preview_container_id }}.length) {
                {{ preview_container_id }}.attr('src', '{{ imagePreviewPath~'?r='~random() }}');
            } else {
                jQuery('#{{ preview_container_id }}').parent().before(
                    '<div class="image-field-short-description">' +
                        '<img src="{{ imagePreviewPath~'?r='~random() }}" width="150px">' +
                    '</div>'
                );
            }
        </script>
    {% endif %}
</span>