<div class="col-cont">
    <div class="container">

        <div class="section-title clearfix">
            <h2>Жанр: <span>{{ subGenre ? subGenre.name : genre.name }}</span></h2>
        </div>

        {% if genre.children.getValues()|length %}
            <div class="genres">
                <ul class="tags">
                    {% for child in genre.children.getValues() %}
                        {% if child.isActive %}
                            <li><a href="{{ genre_path(child) }}" class="{{ app.request.get('sub_genre') == child.slug ? 'active' : null }}">{{ child.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="movies clearfix grid grid-list">

            {{
            sonata_block_render(
                { 'type': 'book.block.list' },
                {
                    'items_count' : 15,
                    'page': app.request.get('page') ? app.request.get('page') : 1,
                    'genre': subGenre ? subGenre : genre,
                }
            )
            }}

        </div>
    </div>

</div>