{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if object is instanceof('\\ProductBundle\\Entity\\Product') %}
        {% if field_description.name == 'price' %}
            <p style="white-space: nowrap">
                <span class="text-muted info" style="font-size: 12px;">
                     {{ 'product.fields.price'|trans({}, 'ProductBundle') }}: <b>{{ object.price }}</b><br/>
                     {{ 'product.fields.discount'|trans({}, 'ProductBundle') }}: <b>{{ object.discount }}</b><br/>
                     {{ 'product.fields.percent'|trans({}, 'ProductBundle') }}: <b>{{ object.percent }}%</b><br/>
                </span>
            </p>
        {% elseif field_description.name == 'size' %}
            {% set route_name = field_description.options.route.name %}
            {% if object.size %}
                <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, object.size, field_description.options.route.parameters) }}" class="label label-primary">{{ object.size }}</a>
            {% endif %}
        {% elseif field_description.name == 'colours' %}
            {% set route_name = field_description.options.route.name %}
            {% for colour in object.colours %}
                <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, colour, field_description.options.route.parameters) }}"><span class="colorpicker__preview" style="background-color: {{ '#' ~ colour.colour }}; margin: 0;"></span></a>
            {% endfor %}
        {% elseif field_description.name == 'name' %}
            <a href="{{ admin.generateUrl('edit', { id : object.id }) }}" class="sonata-link-identifier">{{ object.name }}</a>
        {% elseif field_description.name == 'image' %}
            {% set v = asset('bundles/admin/images/preview_placeholder.png') %}
            {% set image_preview_path = value ? value.path : null %}
            <img src="{{ image_preview_path|default(v) }}?{{ random() }}" style="max-height: 100px;"/>
        {% endif %}
    {% elseif object is instanceof('\\ProductBundle\\Entity\\ProductInfoView') %}

        {% if field_description.name == 'product' %}
            {% set route_name = field_description.options.route.name %}
            <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, object.product, field_description.options.route.parameters) }}" class="sonata-link-identifier">{{ object.product.name ~ ' ' ~ object.product.size.name}}</a>
        {% endif %}
    {% endif %}
{% endblock %}