<!DOCTYPE html>
<html lang="{{ app.request.locale }}" {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <base href="{{ app.request.schemeAndHttpHost }}" />
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}

        {{ sonata_seo_oembed_links() }}
        {{ sonata_seo_lang_alternates() }}
        {{ sonata_seo_link_canonical() }}

        {{ sonata_block_include_stylesheets('screen', app.request.basePath) }}
        {{ sonata_block_include_javascripts('screen', app.request.basePath) }}

        {% block favicon %}
            <link rel="icon" href="{{ asset('bundles/app/assets/i/favicons/favicon.ico') }}" type="image/x-icon" />
        {% endblock %}
        <link rel="search" type="application/opensearchdescription+xml" href="{{ url('opensearch') }}" title="" />

        {% block stylesheets %}
            {% if page.stylesheet is defined and page.stylesheet is not empty %}
                <style type="text/css">
                    {{ page.stylesheet|raw }}
                </style>
            {% endif %}
        {% endblock %}

        <!--[if IE]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/fonts.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/slick.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/magnific-popup.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/ion.rangeSlider.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />

        {% block head_javascripts %}

        {% endblock %}

        {% block javascripts %}{% endblock %}

        {% block head_variables %}
            {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'head'
                    }
                )
            }}
		{% endblock %}
    </head>
    <body {% block body_attrs %}{% endblock %} itemscope itemtype="http://schema.org/WebPage">
	    {% block body_begin %}
            {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'body-begin'
                    }
                )
            }}
        {% endblock %}

        <div class="page">

            {% block body %}
                {% block header %}{% endblock %}
                {% block content %}
                    {% block content_main %}{% endblock %}
                    {% block content_bottom %}{% endblock %}
                    {% block footer %}{% endblock %}
                {% endblock %}
            {% endblock %}


            {% block body_end %}
                {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'body-end'
                    }
                )
                }}

            {% endblock %}

            {% include 'AppBundle:Block:modal.html.twig' %}

        </div>

        {% block footer_javascripts %}
            <script src="{{ asset('bundles/app/js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/lazysizes.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/slick.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/select2.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/ion.rangeSlider.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/myjs.js') }}"></script>

            <script>
                $('.header-cart-link').on('click', function (e) {
                    e.preventDefault();
                    let _this = $(this),
                        url = _this.data('url'),
                        action = _this.data('action');

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { action: action },
                        success: function (response) {
                            let containerCart = $('.header-cart-info');
                            containerCart.html(response);
                        }
                    });

                    $('.header-cart-info').show();
                })
                $(document).click( function(e){
                    if ( $(e.target).closest('.header-cart').length ) {
                        return;
                    }
                    $('.header-cart-info').hide();
                });

                $('.product-add-form').on('click','.add-to-cart', function () {
                    let _this = $(this),
                        item_id = _this.data('id'),
                        url = _this.data('url'),
                        action = _this.data('action'),
                        quantity = $('#quantity').val();

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { action: action, item_id: item_id, quantity: quantity },
                        success: function (response) {
                            if (200 === response.code) {
                                $('.header-cart-info').html('');
                                $('.countProductInCart').html(response.count);
                            }
                        }
                    });
                });

                $('.header-cart').on('click','.remove-product', function (e) {
                    e.preventDefault();

                    let _this = $(this),
                        action = _this.data('action'),
                        item_id = _this.data('id'),
                        url = _this.data('url');

                    let filter = { action: action, item_id: item_id };
                    getAjax(url, filter, '.header-cart-info', true);
                });

                $('#cartContainer').on('click','.remove-item', function (e) {
                    e.preventDefault();

                    let _this = $(this),
                        action = _this.data('action'),
                        template = _this.data('template'),
                        item_id = _this.data('id'),
                        url = _this.data('url');

                    let filter = { action: action, item_id: item_id, template: template };
                    getAjax(url, filter, '#cartContainer', true);
                });

                $('.input-recalculate').on('input change', function () {
                    let _this = $(this),
                        item_id = _this.data('id'),
                        url = _this.data('url'),
                        action = _this.data('action'),
                        quantity = _this.val();

                    let filter = { action: action, item_id: item_id, quantity: quantity };
                    console.log(filter);
                    // getAjax(url, filter, '#modal-cart', true);
                });

                /*Плюс-минус*/
                $('#cartContainer').on('click', '.qtyplus', function (e) {
                    e.preventDefault();
                    let fieldName = $(this).siblings('.qty');
                    let value = 1;
                    var currentVal = parseInt(fieldName.val());
                    var maxCount = $(".qtyplus").data("max")
                    if (!isNaN(currentVal)) {
                        if (currentVal < maxCount) {
                            value = currentVal + 1;
                            $('.qtyminus').val("-").removeAttr('style');
                        } else {
                            $(this).val("+").css('color', '#aaa');
                            $(this).val("+").css('cursor', 'not-allowed');
                        }
                    }

                    fieldName.val(value);

                    let _this = $('.input-recalculate'),
                        item_id = _this.data('id'),
                        url = _this.data('url'),
                        template = _this.data('template'),
                        action = _this.data('action');

                    let filter = { action: action, item_id: item_id, template: template, quantity: value };
                    getAjax(url, filter, '#cartContainer', true);
                });

                $('#cartContainer').on('click', '.qtyminus', function (e) {
                    e.preventDefault();
                    let fieldName = $(this).siblings('.qty');
                    let value = 1;
                    let currentVal = parseInt(fieldName.val());
                    if (!isNaN(currentVal) && currentVal > 1) {
                        value = currentVal - 1;
                        $('.qtyplus').val("+").removeAttr('style');
                    } else {
                        $(this).val("-").css('color', '#aaa');
                        $(this).val("-").css('cursor', 'not-allowed');
                    }

                    fieldName.val(value);

                    let _this = $('.input-recalculate'),
                        item_id = _this.data('id'),
                        url = _this.data('url'),
                        template = _this.data('template'),
                        action = _this.data('action');

                    let filter = { action: action, item_id: item_id, template: template, quantity: value };
                    getAjax(url, filter, '#cartContainer', true);
                });


                let getAjax = function (url, filter, htmlContainer, rewriteCount = false) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: filter,
                        success: function (response) {
                            let container = $(htmlContainer);
                            container.html(response);
                            if (rewriteCount) {
                                rewriteCartCountProduct();
                            }
                        }
                    });
                };

                /* Rewrite count product in cart */
                let rewriteCartCountProduct = function () {
                    let container = $('#countProductInCart');
                    $('.countProductInCart').text(container.data('count-cart'));
                };
            </script>
        {% endblock %}
    </body>
</html>
