<!DOCTYPE html>
<html lang="{{ app.request.locale }}" {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <base href="{{ app.request.schemeAndHttpHost }}" />
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}

        {{ sonata_seo_oembed_links() }}
        {{ sonata_seo_lang_alternates() }}
        {{ sonata_seo_link_canonical() }}

        {{ sonata_block_include_stylesheets('screen', app.request.basePath) }}
        {{ sonata_block_include_javascripts('screen', app.request.basePath) }}

        {% block favicon %}
            <link rel="icon" href="{{ asset('bundles/app/assets/i/favicons/favicon.ico') }}" type="image/x-icon" />
        {% endblock %}
        <link rel="search" type="application/opensearchdescription+xml" href="{{ url('opensearch') }}" title="" />

        {% block stylesheets %}
            {% if page.stylesheet is defined and page.stylesheet is not empty %}
                <style type="text/css">
                    {{ page.stylesheet|raw }}
                </style>
            {% endif %}
        {% endblock %}

        <!--[if IE]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/fonts.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/slick.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/magnific-popup.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/ion.rangeSlider.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />

        {% block head_javascripts %}

        {% endblock %}

        {% block javascripts %}{% endblock %}

        {% block head_variables %}
            {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'head'
                    }
                )
            }}
		{% endblock %}
    </head>
    <body {% block body_attrs %}{% endblock %} itemscope itemtype="http://schema.org/WebPage">
	    {% block body_begin %}
            {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'body-begin'
                    }
                )
            }}
        {% endblock %}

        <div class="page">

            {% block body %}
                {% block header %}{% endblock %}
                {% block content %}
                    {% block content_main %}{% endblock %}
                    {% block content_bottom %}{% endblock %}
                    {% block footer %}{% endblock %}
                {% endblock %}
            {% endblock %}


            {% block body_end %}
                {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'body-end'
                    }
                )
                }}

            {% endblock %}

            {% include 'AppBundle:Block:modal.html.twig' %}

        </div>

        {% block footer_javascripts %}
            <script src="{{ asset('bundles/app/js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/slick.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/select2.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/ion.rangeSlider.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/myjs.js') }}"></script>
        {% endblock %}
    </body>
</html>
