<!DOCTYPE html>
<html lang="{{ app.request.locale }}" {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <base href="{{ app.request.schemeAndHttpHost }}" />
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}

        {{ sonata_seo_oembed_links() }}
        {{ sonata_seo_lang_alternates() }}
        {{ sonata_seo_link_canonical() }}

        {{ sonata_block_include_stylesheets('screen', app.request.basePath) }}
        {{ sonata_block_include_javascripts('screen', app.request.basePath) }}

        {% block favicon %}
            <link rel="icon" href="{{ asset('bundles/app/assets/i/favicons/favicon.ico') }}" type="image/x-icon" />
        {% endblock %}
        <link rel="search" type="application/opensearchdescription+xml" href="{{ url('opensearch') }}" title="" />

        {% block stylesheets %}
            {% if page.stylesheet is defined and page.stylesheet is not empty %}
                <style type="text/css">
                    {{ page.stylesheet|raw }}
                </style>
            {% endif %}
        {% endblock %}

        <!--[if IE]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/fonts.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/slick.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/magnific-popup.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/ion.rangeSlider.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />

        {% block head_javascripts %}

        {% endblock %}

        {% block javascripts %}{% endblock %}

        {% block head_variables %}
            {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'head'
                    }
                )
            }}
		{% endblock %}
    </head>
    <body {% block body_attrs %}{% endblock %} itemscope itemtype="http://schema.org/WebPage">
	    {% block body_begin %}
            {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'body-begin'
                    }
                )
            }}
        {% endblock %}

        <div class="page">

            {% block body %}
                {% block header %}{% endblock %}
                {% block content %}
                    {% block content_main %}{% endblock %}
                    {% block content_bottom %}{% endblock %}
                    {% block footer %}{% endblock %}
                {% endblock %}
            {% endblock %}


            {% block body_end %}
                {{
                sonata_block_render(
                    { 'type': 'page.block.site_variable' },
                    {
                        'placement': 'body-end'
                    }
                )
                }}

            {% endblock %}

            {% include 'AppBundle:Block:modal.html.twig' %}

        </div>

        {% block footer_javascripts %}
            <script src="{{ asset('bundles/app/js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/jquery.inputmask.js') }}"></script>
            <script src="{{ asset('bundles/app/js/lazysizes.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/slick.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/select2.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/ion.rangeSlider.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/myjs.js') }}"></script>

            <script>

                $('#nextStep').on('click', function (e) {
                    // e.preventDefault();

                    let phone = $("input[name='phone']").val();
                    let name = $("input[name='name']").val();

                    $('.phone-error-message, .name-error-message').empty();
                    let lastSymbol = phone.toString().slice(-1);
                    if (!phone.length) {
                        $('.phone-error-message').text('Укажите номер телефона');
                        return false;
                    }

                    if (lastSymbol === '_') {
                        $('.phone-error-message').text('Укажите верно номер телефона');
                        return false;
                    }

                    if (!name.length) {
                        $('.name-error-message').text('Укажите имя');
                        return false;
                    }
                })

                $('.quick-cart').on('click', function (e) {
                    e.preventDefault();
                    let url = $(this).data('url');
                    let phone = $("input[name='phone']").val();
                    let messenger = $("input[name='messenger']:checked").val();

                    $('.error-message').empty();
                    let lastSymbol = phone.toString().slice(-1);
                    if (!phone.length) {
                        $('.error-message').text('Укажите номер телефона');
                        return false;
                    }

                    if (lastSymbol === '_') {
                        $('.error-message').text('Укажите верно номер телефона');
                        return false;
                    }

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { phone: phone, messenger: messenger },
                        success: function (response) {
                            if (response.type === 'error') {
                                alert(response.message);
                                return false;
                            }
                            if (response.type === 'success') {
                                window.location = response.url;
                            }
                        }
                    });
                })

                $('.product-quick-cart').on('click', function (e) {
                    e.preventDefault();
                    let url = $(this).data('url');
                    let phone = $("input[name='phone']").val();
                    let product = $("input[name='product']").val();
                    let messenger = $("input[name='messenger']:checked").val();

                    $('.error-message').empty();
                    let lastSymbol = phone.toString().slice(-1);
                    if (!phone.length) {
                        $('.error-message').text('Укажите номер телефона');
                        return false;
                    }

                    if (lastSymbol === '_') {
                        $('.error-message').text('Укажите верно номер телефона');
                        return false;
                    }

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { phone: phone, messenger: messenger, product: product },
                        success: function (response) {
                            if (response.type === 'error') {
                                alert(response.message);
                                return false;
                            }
                            if (response.type === 'success') {
                                window.location = response.url;
                            }
                        }
                    });
                })

                $('#sendFullCard').on('click', function (e) {
                    e.preventDefault();
                    let url = $(this).data('url');
                    let name = $("input[name='name']").val();
                    let email = $("input[name='email']").val();
                    let phone = $("input[name='phone']").val();
                    let address = $("input[name='address']").val();
                    let comment = $("input[name='comment']").val();
                    let messenger = $("input[name='messenger']").val();

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { name: name, email: email, phone: phone, address: address,  comment: comment, messenger: messenger },
                        success: function (response) {
                            if (response.type === 'error') {
                                alert(response.message);
                                return false;
                            }
                            if (response.type === 'success') {
                                window.location = response.url;
                            }
                        }
                    });
                })

                $('.header-cart-link').on('click', function (e) {
                    e.preventDefault();
                    let _this = $(this),
                        url = _this.data('url'),
                        action = _this.data('action');

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { action: action },
                        success: function (response) {
                            let containerCart = $('.header-cart-info');
                            containerCart.html(response);
                        }
                    });

                    $('.header-cart-info').show();
                })

                $(document).click( function(e){
                    if ( $(e.target).closest('.header-cart').length ) {
                        return;
                    }
                    $('.header-cart-info').hide();
                });

                $('.product-add-form').on('click','.add-to-cart', function () {
                    let _this = $(this),
                        item_id = _this.data('id'),
                        url = _this.data('url'),
                        action = _this.data('action'),
                        quantity = $('#quantity').val();

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { action: action, item_id: item_id, quantity: quantity },
                        success: function (response) {
                            if (200 === response.code) {
                                $('.header-cart-info').html('');
                                $('.countProductInCart').html(response.count);
                                $('#modalCountProduct').text(response.count + ' ' + declOfNum(response.count))
                                $('#modalTotalProduct').text(response.total)
                            }
                        }
                    });
                });

                let declOfNum = (number) => {
                    const titles = ['товар', 'товара', 'товаров'];
                    const cases = [2, 0, 1, 1, 1, 2];
                    return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
                }

                $('#get_more_products').on('click', function (e) {
                    e.preventDefault();

                    let _this = $(this),
                        page = _this.data('page'),
                        url = _this.data('url');

                    _this.addClass('loading');

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { page: page },
                        success: function (response) {
                            $('.catalog-flex').find('.catalog-block:last').after(response);
                            _this.removeClass('loading');
                            page += 1
                            _this.data('page', page);
                        }
                    });
                })
            </script>
        {% endblock %}
    </body>
</html>
